#navbar {
    overflow: hidden;
    position: relative;
    top: 0;
    background-color: white;
    color: rgb(113, 47, 242);
    width: 100%;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    color: inherit;
    display: inline-block;
    padding: 14px 16px;
    outline: none;
}

.span {
    background-color: gray;
    width: 100%;
    height: 1px;
    display: block;
}